.glitch:hover {
  font-size: 30px;
  color: Chartreuse;
  background-color: Coral;
  white-space: nowrap;
  border-left: 2px solid Coral;
  border-right: 2px solid Coral;
}

.glitch:hover:after {
  content: attr(data-glitch-text);
  position: absolute;
  left: 2px;
  text-shadow: -2px 0 red;
  top: 0;
  color: Chartreuse;
  background-color: Coral   ;
  overflow: hidden;
  clip: rect(0, 999px, 0, 0);
  /*animation: noise-anim 2s infinite linear alternate-reverse;*/
}

.glitch:hover:before {
  content: attr(data-glitch-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: Chartreuse;
  background-color: Coral   ;
  overflow: hidden;
  clip: rect(0, 90px, 0, 0);
  /*animation: noise-anim-2 3.2s infinite linear alternate-reverse;*/
}